.layout-generic-left,
.layout-captioned-left,
.layout-figured-left {
  float: left;
  padding-right: 15px;
  clear: both;
}

.layout-generic-right,
.layout-captioned-right,
.layout-figured-right {
  float: right;
  padding-left: 15px;
  clear: both;
}

.layout-figured-heading {
  font-weight: bold;
}

.layout-item-caption {
  font-style: italic;
  font-size: 0.85em;
}

