
/*
*/

.mapi-slideshow-prev {
  float: left;
  width: 20px;
}

.mapi-slideshow-prev a,
.mapi-slideshow-next a {
  font-weight: bold;
}

.mapi-slideshow-next {
  float: right;
  width: 20px;
}

.mapi-slideshow-listing {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
