.layout-none-left,
.layout-caption-left,
.layout-figure-left {
  float: left;
  padding-right: 15px;
  clear: both;
}

.layout-none-right,
.layout-caption-right,
.layout-figure-right {
  float: right;
  padding-left: 15px;
  clear: both;
}

.layout-none-center,
.layout-caption-center,
.layout-figure-center {
  margin-left: auto;
  margin-right: auto;
}

.layout-figure .figure {
  font-weight: bold;
}

.layout .caption {
  font-style: italic;
  font-size: 0.85em;
}

